<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="flex">
          <a class="logo" href="/">Logo</a>
          <ul>
            <li>
              <a class="btn" href="/">Go Back</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="banner">
        <div class="container h-screen flex f-center">
          <div class="form">
            <h1>Create Article</h1>
            <form action="/articles" method="POST">
              <fieldset>
                <input
                  class="form-box"
                  type="text"
                  name="title"
                  placeholder="title"
                />

                <textarea
                  class="form-box"
                  name="description"
                  placeholder="description"
                  rows="5"
                  cols="10"
                ></textarea>

                <div class="flex f-center">
                  <input class="btn form-box" type="submit" value="submit" />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
