<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="flex">
          <a class="logo" href="/">Kshem</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="banner">
        <div class="container flex f-center h-screen">
          <div class="form">
            <h1>Login</h1>
            <form action="/users/login" method="POST">
              <fieldset>
                <% if (flash) { %>
                <p class="flash"><%= flash %></p>
                <% } %>

                <input
                  class="form-box"
                  type="email"
                  name="email"
                  placeholder="email"
                />

                <input
                  class="form-box"
                  type="password"
                  name="password"
                  placeholder="password"
                />

                <div class="flex f-center">
                  <input class="btn form-box" type="submit" value="submit" />
                </div>
                <p class="center">
                  not yet on kshem?
                  <a class="link" href="/users/new">sign up</a>
                </p>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
