<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="container top-menu flex f-right">
        <ul class="flex">
          <li>
            <a href="">Login</a>
          </li>

          <li>
            <a href=""> <i class="fa fa-heart"></i> </a>
          </li>

          <li>
            <a href=""> <i class="fa fa-cart-shopping"></i> </a>
          </li>
        </ul>
      </nav>

      <section class="logo-header flex f-center">
        <a title="GO TO HOMEPAGE" class="logo" href="">streetstyle</a>
      </section>

      <nav class="main-menu flex f-center">
        <ul class="flex">
          <li>
            <a href="">women</a>
          </li>

          <li>
            <a href="">men</a>
          </li>

          <li>
            <a href="">accesories</a>
          </li>

          <li>
            <a href="">sale</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="homepage">
      <!-- BANNER -->
      <section class="banner">
        <div class="flex flex-row">
          <!-- WOMEN -->
          <div class="col col-women">
            <img src="./images/10.jpg" alt="" />
            <div class="content"></div>
          </div>
          <!-- MEN -->
          <div class="col col-men">
            <img src="./images/3.jpg" alt="" />
            <div class="content"></div>
          </div>
        </div>
      </section>

      <!-- NEW RELEASES -->
      <section class="new-release-tab">
        <div class="container">
          <div class="row flex">
            <div class="col">
              <div class="product-card"></div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
