<header class="header">
  <!-- TOP MENU -->
  <nav class="container top-menu flex f-right">
    <ul class="flex">
      <li>
        <a href="" class="icon login"></a>
      </li>

      <li>
        <a href="" class="icon heart"></a>
      </li>

      <li>
        <a href="" class="icon cart"></a>
      </li>
    </ul>
  </nav>

  <!-- LOGO -->
  <section class="logo-header flex f-center">
    <a id="nav-logo" title="GO TO HOMEPAGE" class="logo" href="/"
      >streetstyle</a
    >
  </section>

  <!-- MAIN MENU -->
  <nav class="main-menu flex f-center">
    <ul class="flex">
      <li>
        <a id="nav-women" href="/women">women</a>
      </li>

      <li>
        <a id="nav-men" href="/men">men</a>
      </li>

      <li>
        <a id="nav-shoes" class="" href="">shoes</a>
      </li>

      <li>
        <a id="nav-accesories" href="">accesories</a>
      </li>

      <li>
        <a id="nav-sale" href="">sale</a>
      </li>
    </ul>
  </nav>

  <section class="breadcrump">
    <span>
      <a href="">Streetstyle.com </a>/ <a href="">Clothing </a>/
      <a href="">Men </a>/ View All
    </span>
  </section>
</header>
