/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
  --link: #0066cd;
  --accent: #bf4901;
}

/* ------- Generals ---------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    color: var(--accent);
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 1s ease-in-out;
}

/* Container */
.container {
  max-width: calc(100vw - 4rem * 2);
  margin: 0 auto;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-center {
  justify-content: center;
}

.f-right {
  justify-content: flex-end;
}

/* center */
.center {
  text-align: center;
}

/* gaps */
.gap4 {
  padding: 4rem 0;
}

/* Error */

.err-banner {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  margin-top: -1rem;
}

.err-banner h2 {
  font-size: 10rem;
  font-weight: 700;
}
.err-banner h3 {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 300;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.6);
}

.err-banner p {
  margin: 1rem;
  margin-top: 3rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.err-banner a {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 0.7rem 1.4rem;
  background-color: #1a73e7;
}

// CX CSS
// HEADER

.header {
  text-transform: uppercase;
  color: var(--one);

  ul {
    li {
      margin: 0 1rem;
      font-size: 1rem;
      font-weight: 300;

      i {
        font-size: 1.2rem;
      }

      a {
        color: black;
        transition: all 0.3s linear;
        padding: 0.2rem 1rem;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  .top-menu {
    color: black;
    margin: 1.4rem 0;
  }

  .logo-header {
    margin-top: -3rem;

    .logo {
      font-size: 4rem;
      font-weight: bold;
      color: var(--accent);
    }
  }

  .main-menu {
    ul {
      li {
        margin: 1rem 1rem;

        &:hover a {
          border-bottom: 3px solid var(--accent);
        }
      }
    }
  }
}

.homepage {
  // BANNER SECTION
  .banner {
    background-color: black;

    .flex-row {
      //   height: 100vh;
      //   gap: 3rem;

      .col {
        height: calc(100vh - 4rem * 2);
        flex: 1 1 50%;
        background-color: black;
        position: relative;

        img {
          object-position: 50% 40%;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .content {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;

          &:hover {
            background: linear-gradient(
              to top,
              var(--accent),
              transparent,
              transparent,
              transparent
            );
          }
        }
      }
    }
  }

  .new-release-tab {
    .row {
      height: calc(100vh - 4rem * 2);
      background-color: red;
      gap: 3rem;
      padding: 3.2rem;

      .col {
        flex: 1 1 10%;
        height: 100%;
        background-color: blue;

        .product-card {
          background-color: red;
        }
      }
    }
  }
}
